body {
  font-family: Roboto, "Courier New", Courier, monospace;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 18px;
}

a,
.hero p {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

h1,
p {
  margin: 0;
}

h1 {
  font-weight: 900;
  font-size: 48px;
}

.hero h1 {
  color: #e5e7eb;
}

.logo {
  max-width: 50px;
  max-height: 50px;
  flex-shrink: 0;
}

.hero button {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 4px;
  border: none;
  padding: 4px 18px;
  margin-top: 8px;
}

.container {
  background-color: #1f2937;
  padding: 0px 25%;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

.hero {
  color: #f9faf8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 112px 0px;
  gap: 48px;
}

.hero div {
  flex-basis: 50%;
  flex-grow: 1;
  max-width: 450px;
  min-width: 150px;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  min-height: 150px;
  max-height: 250px;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e5e7eb;
  padding-bottom: 64px;
  padding-top: 32px;
}

.info-container h1 {
  color: #1f2937;
  font-size: 36px;
}

.info-container p {
  color: #1f2937;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px;
  padding: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 150px;
}

.card-img-container {
  border: solid #3882f6;
  height: 150px;
  width: 150px;
  border-radius: 8px;
}

.inspire{
  background-color: #e5e7eb;
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 30%;
}

.inspire div{
  align-self: end;
}
