body {
  font-family: Roboto, "Courier New", Courier, monospace;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 18px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

h1,
p {
  margin: 0;
}

.container {
  background-color: #1f2937;
  padding: 0px 550px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

.hero {
  color: #f9faf8;
  display: flex;
  justify-content: space-between;
  padding: 112px 0px;
  gap: 48px;
}

.hero div{
  flex-basis: 50%;
  flex-grow: 1;
  max-width: 450px;
  min-width: 150px;
}

.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  min-height: 150px;
  max-height: 150px;
}

.img-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero p {
  color: #e5e7eb;
}

.logo {
  max-width: 50px;
  max-height: 50px;
  flex-shrink: 0;
}
